<div>
  <button mat-button routerLink="inicio">Inicio</button>



  <button mat-button routerLink="admin" >Administración</button>

  <button mat-button routerLink="venta">Ventas</button>
  <!-- <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="empleado" *ngIf="ServicioLogin.esLogeado()">Empleados</button>
      <button mat-menu-item routerLink="cliente" *ngIf="ServicioLogin.esLogeado()">Clientes</button>
      <button mat-menu-item routerLink="producto" *ngIf="ServicioLogin.esLogeado()">Productos</button>
  </mat-menu> -->

  <button mat-button routerLink="alma">Almacen</button>
  <button mat-button routerLink="serv">Servicio</button>





</div>
