<p>eliminar-prov works!</p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table
        class="table table-striped table-condensed table-responsive"
        style="width: auto"
      >
        <tbody>
          <tr>
            <th class="bg-primary" style="text-align: center" colspan="4">
              Proveedor
            </th>
          </tr>
          <tr>
            <th class="bg-primary">ID</th>
            <td>{{ proveedor.id }}</td>
            <th class="bg-primary">Nombre</th>
            <td>{{ proveedor.nombre }}</td>
          </tr>

          <tr>
            <th class="bg-primary">Telefono</th>
            <td>{{ proveedor.telefono }}</td>
            <th class="bg-primary">Correo</th>
            <td>{{ proveedor.correo }}</td>
          </tr>

          <tr>
            <th class="bg-primary">Direccion</th>
            <td colspan="3">{{ proveedor.direccion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
