<p>eliminar-prod works!</p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-condensed table-responsive">
        <tbody>
          <tr>
            <th class="bg-primary" style="text-align: center" colspan="4">
              Cliente
            </th>
          </tr>
          <tr>
            <th class="bg-primary">ID</th>
            <td>{{ producto.id }}</td>
            <th class="bg-primary">Nombre</th>
            <td>{{ producto.nombre }}</td>
          </tr>

          <tr>
            <th class="bg-primary">No.Parte</th>
            <td>{{ producto.noParte }}</td>
            <th class="bg-primary">ID Proveedores</th>
            <td>{{ producto.idProveedores }}</td>
          </tr>

          <tr>
            <th class="bg-primary">Tipo</th>
            <td>{{ producto.tipo }}</td>
            <th class="bg-primary">Categoría</th>
            <td>{{ producto.categoria }}</td>
          </tr>
          <tr>
            <th class="bg-primary">Unidad</th>
            <td>{{ producto.unidad }}</td>
            <th class="bg-primary">Precio</th>
            <td>{{ producto.precio }}</td>
          </tr>
          <tr>
            <th class="bg-primary">Existencia</th>
            <td>{{ producto.existencia }}</td>
            <th class="bg-primary">Imagen</th>
            <td><img [src]="producto.imagen" alt="Imagen de producto" /></td>
          </tr>

          <tr>
            <th class="bg-primary">Descripción</th>
            <td colspan="3">{{ producto.descripcion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
